/*$primary-bg-color: #f9f7ed;
$secondary-bg-color: #f4f0e4;
$primary-color: #ec5148;
$secondary-color: #aac789;
$secondary-color--darker: #437356;
$combo-color:#2DD8B1;*/

body {
    font-family: 'Open Sans',sans-serif;
    line-height: 1.4em;
    font-size: 14px;
    margin: 0;
    background-color: #0A0912;
}

* {
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    box-sizing: border-box;
}

a {
    color: #000;
    text-decoration: none;
}
ul{
  padding: 0;
}
.container {
    margin: 0 auto;

}

// Header css starts

.inline {
    display: inline-block;
    vertical-align: middle;
}

.topline{
   display: inline-block;
   vertical-align: top;
}

// Header css ends

/* layout */

.wrapper {
    height: 100vh;
    overflow-y: hidden;
}

.wrapper {
    height: 100vh;
    overflow-y: hidden;
}

.sidebar {
    display: inline-block;
    width: 20%;
    height: inherit;
    vertical-align: top;
}

.sidebar ul {
    padding: 0;
    margin: 0;
}

.sidebar li {
    padding: 8px 20px;
    height: 50px;
    text-transform: uppercase;
    color: #999;
    font-size: 12px;
    cursor: pointer;
    margin-bottom: 15px;
}

.sidebar li:hover {
    color: #fff;   
}

.menu__item--active .icon,
.sidebar li:hover .icon {
    border: 1px solid #6638F0;
    color: #6638F0;
}

.sidebar li.menu__item--active {
    color: #fff;
}

.sidebar li.logo {
    background-color: #FC2B57;
    text-align: center;
    line-height: 2;
    font-size: 18px;
    color: #fff;
    margin-bottom: 20px;
}

.main {
    display: inline-block;
    width: 80%;
    margin-left: -4px;
    height: inherit;
    background-color: #272A34;
    vertical-align: top;
    overflow-y: auto;
}

/* Icons */
.icon {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #eee;
    text-align: center;
    font-size: 22px;
    line-height: 1.8;
    margin-right: 15px;
    color: #999;
}

.icon-info {
    display: inline-block;
    vertical-align: middle;
}

/*-----load data-------*/
.load-data{
   margin: 105px 60px;
}

.load-paste-data {
  margin: 0;
}

.load-paste-data li {
   list-style-type: none;
   margin: 0px 10px 20px 0;
   width: 200px;
}

.load-paste-data li a {
   color: #999;
}

.load-paste-data li a.active {
    color: #FC2B57;
    font-weight: 600;
}

.paste-data-clipboard{
   max-width: 600px;
   width: 100%;
   margin: 0;
}


.help-block{
   color: rgba(204, 204, 204, 0.71);
}

.drop-box {
    height: 250px;
    text-align: center;
    max-width: 600px;
    width: 100%;
    padding: 20px;
    border: 2px dashed #999;
    cursor: pointer;
}

.drop-box a {
    max-width: 250px;
    display: inline-block;
    margin-top: 85px;
    color: #999;
}

.drop-box:hover {
    border-color: #fff;
}

.drop-box:hover a {
    color: #fff;
}

.load-drag-clipboard a {
   color: #f4f4f4;
   letter-spacing: 0.3px;
}

.success-message {
   color:#00E6CD;
   margin: 10px 0;
}

.layout-thumb {
  background-image: url(imgs/barChart.png);
  height: 250px;
  width: 250px;
  background-position: cover;
  background-position: center;
  background-size: cover
}

.dark-chart {
    margin: 0;
    padding: 0;
    text-align: left;
}

.dark {
  text-align: center;
  margin: 150px 0;
}

.chart-resize {
    margin: 0 auto;
    width: 900px;
}

.fourth {
    background-color: #fff;
    padding: 20px 0;
    margin: 0 40px 50px 40px;
    border-radius: 3px;
}

.dragover {
  border-color: #0dc4a3;
  background-color: #fff;
}

.ui-draggable {
    padding: 8px 10px;
    height: 35px;
    background: #FC2B57;
    border-radius: 3px;
    width: 210px;
    color: #fff;
    margin-top: 10px;
}

.fa-tags {
    display: none;
}

#chart {
    width: 900px;
}

.dark-chart li {
  display: inline-block;    
  margin: 0 50px 50px;
  cursor: pointer;
}

.layout-title{
  font-size: 12px;
  color: #f4f4f4;
  text-transform: uppercase;
  line-height: 30px;
}

.map-dimension{
    margin: 150px 60px;
}

.map-dimension h3{
    color: #fff;
    margin-bottom: 40px;
}

.dimensions-list{
    padding: 0;
    margin: 0;
}

.dimensions-list li{
    list-style-type: none;
    background: #FC2B57;
    width: 250px;
    margin: 0 10px 20px 0;
    padding: 8px 8px;
    color: #f9f9f9;
    font-weight: 700;
    font-size: 14px;
    border-radius: 3px;    
}

.dimensions-style{
    background: #0A0912;
    height: 150px;
    overflow-y: auto;
    width: 250px;
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px 20px;
    border-radius: 3px;
    padding: 20px;
}

.draggable-style{
  display: inline-block;
  width: 300px;
  vertical-align: top;
}

.sticky{
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  width: 650px;
}

.dimension-title{
  width: 200px;
  display: inline-block;
  margin: 0;
}

.dimension-required{
    font-size: 12px;
    color: #00E6CD;
    transform: translate(199px, -19px);
}

.dimensions-container {
    margin: 0 0 20px;
    color: #999;
    list-style-type: none;
}

.dimension.invalid {
    background-color: #F8E937;
    color: #000;
}

