<div class="wrapper">
    <div class="sidebar">
        <ul>
            <li class="logo">
                Blueprint
            </li>
            <li ng-class="{'menu__item--active':(importMode=='clipboard' || importMode=='file')}">
                <div class="icon">
                    <span class="fa fa-upload"></span>
                </div>
                <div class="icon-info">Load Your Data</div>
            </li>
            <li ng-class="{'menu__item--active':!error && data.length && parsed}">
                <div class="icon">
                    <span class="fa fa-pie-chart"></span>
                </div>
                <div class="icon-info">Select a Chart</div>
            </li>
            <li ng-class="{'menu__item--active':!error && data.length && parsed && chartActivated}">
                <div class="icon">
                    <span class="fa fa-line-chart"></span>
                </div>
                <div class="icon-info">Select Dimensions</div>
            </li>
            <li ng-class="{'menu__item--active':!error && data.length && parsed && chartActivated}">
                <div class="icon">
                    <span class="fa fa-slideshare"></span>
                </div>
                <div class="icon-info">Visualize your Data</div>
            </li>
        </ul>
    </div>
    <div class="main">
        <div id="load-data">
            <!-- First Section -->
            <section class="load-data">
                <div class="topline">
                    <ul class="load-paste-data">
                        <li role="presentation"><a ng-class="{active:!parsed && importMode=='clipboard'}" href="#" ng-click="parsed=false;importMode='clipboard'">Paste</a></li>
                        <li role="presentation"><a ng-class="{active:!parsed && importMode=='file'}" href="#" ng-click="parsed=false;importMode='file'">Upload a file</a></li>
                    </ul>
                </div>
                <div class="paste-data-clipboard topline">
                    <!-- Clipboard -->
                    <div ng-show="importMode=='clipboard' && !json && !parsed">
                        <textarea ui-codemirror="{lineWrapping : true,   dragDrop : false}" class="text-clipboard margin-bottom" ng-model="clipboardText" placeholder="Paste your data here from other applications"></textarea>
                        <p class="help-block">Copy and paste your data from other applications or websites. You can use tabular (TSV, CSV, DSV) or JSON data<p>
                    </div>

                    <!-- File -->
                    <div ng-show="importMode=='file'&& !json && !parsed">
                        <div ngf-drop ngf-select ng-model="files" class="drop-box margin-bottom" ngf-drag-over-class="dragover" ngf-multiple="false" ngf-allow-dir="false" ng-show="!worksheets.length">
                            <a>Drag a file here or click to select a file from your computer</a>
                        </div>
                        <p ng-show="!worksheets.length" class="help-block">You can upload TSV, CSV, DSV, JSON and Excel files (.xls, .xlsx). Spreadsheet files with multiple sheets are fine too.</p>
                        <div class="row">
                            <div class="col-lg-3" ng-repeat="worksheet in worksheets" ng-click="parse(worksheet.text)">
                                <div class="layout">
                                    <div class="layout-inner">
                                        <span>{{worksheet.name}}</span>
                                        <span class="text-muted layout-category">{{worksheet.rows}} rows</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p ng-show="worksheets.length" class="help-block">Your file contains multiple sheets. Please choose one from above.</p>
                    </div>

                    <!-- Default -->
                    <div ng-show="parsed">
                        <div data-ng-show="dataView != 'table'">
                            <div class="parsed">
                                <textarea ui-codemirror="codeMirrorOptions" ng-model="text"></textarea>
                            </div>
                        </div>
                        <div raw-table class="data-table" data-ng-show="dataView == 'table'"></div>
                    </div>

                    <!-- Show messages -->
                    <div>
                        <div data-ng-show="!loading && !error && data.length && parsed" class="alert alert-success success-message"><i class="fa fa-thumbs-up breath-right"></i><strong>{{data.length}}</strong> records in your data have been successfully parsed!</div>
                        <div data-ng-show="!loading && error" class="alert alert-warning"><i class="fa fa-thumbs-down breath-right"></i><strong>Whoops! </strong>{{error}}</div>
                        <div data-ng-show="loading && text.length" class="alert alert-loading"><i class="fa breath-right fa-refresh fa-spin"></i>Loading your data. Please wait.</div>
                    </div>
                </div>
            </section>

            <!-- Second Section -->
            <section class="dark" data-ng-show="!error && data.length && parsed">
                <ul class="inline dark-chart">
                    <li ng-repeat="c in charts">
                        <div ng-class="{selected: c == chart}" class="layout"  ng-click="selectChart(c)">
                        <div class="layout-thumb" ng-style="{'background-image':'url(' + c.thumbnail() + ')'}"></div>
                        <p class="layout-inner" >
                            <span class="layout-title">{{c.title()}}</span>
                        </p>
                        <div class="layout-check">
                               <!--  <i class="fa fa-check"></i> -->
                            </div>
                        </div>
                    </li>
                </ul>
            </section>

            <!-- Third section -->
            <section class="map-dimension" data-ng-show="!error && data.length && parsed && chartActivated" id="mapping">
                <div>
                    <h3>Drag and Drop Your Dimensions
                        <a data-toggle="tooltip"
                        data-title="Clear all"
                        ng-click="model.clear()" class="pull-right light"><i class="fa fa-trash-o"></i></a>
                        <span class="clearfix"></span>
                    </h3>
                </div>

                <div draggable class="draggable-style"> 
                    <ul class="list-unstyled dimensions-list">
                        <li class="dimension" data-dimension="{{dimension}}" ng-repeat="dimension in metadata track by $index">
                            <span class="dimension-key">{{ dimension.key }}</span>
                            <span class="dimension-type">{{dimension.type}}</span>
                            <span class="dimension-icon pull-right"><i class="fa fa-arrow-right"></i></span>
                        </li>
                    </ul>
                </div>
                <div class="sticky mapping">
                    <div group every="3" watch="model">
                        <div class="dimensions-wrapper dimensions-style"
                            ng-repeat="dimension in model.dimensions().values() track by $index"
                            ng-init="open=false">
                            <div class="dimensions-model">
                                <i class="fa fa-tags"
                                    data-toggle="tooltip"
                                    data-title="You can drag more than one dimension here"
                                    data-ng-show="dimension.multiple()"></i>

                                <p class="dimension-title">{{dimension.title()}}</p>
                                <i class="fa fa-asterisk dimension-required"
                                    data-toggle="tooltip"
                                    data-title="Required"
                                    data-ng-show="dimension.required()"></i>
                                <ul
                                    sortable
                                    title="dimension.title()"
                                    value="dimension.value"
                                    multiple="dimension.multiple()"
                                    types="dimension.types()"
                                    class="dimensions-container list-unstyled">
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <!-- Fourth Section -->
        <section class="dark fourth" data-ng-show="!error && data.length && parsed && chartActivated">
            <ul class="list-unstyled" style="display: none;">
                <li ng-repeat="option in chart.options() track by $index" chart-option>
                    <div ng-switch="" on="option.type()">
                        <input type="number" min="0" class="form-control" ng-model="option.value" ng-switch-when="number"></input>

                        <div ng-switch-when="checkbox">
                            <label class="">
                                <input type="checkbox" ng-model="option.value"/>
                            </label>
                        </div>
                        <div colors="option.value" ng-switch-when="color"></div>
                        <button
                        type="button"
                        class="btn btn-default"
                        ng-model="option.value"
                        ng-change="$apply()"
                        bs-options="opt for opt in option.values()" bs-select ng-switch-when="list">
                        Action <span class="caret"></span>
                        </button>
                        <input type="text" min="0" class="form-control" ng-model="option.value" ng-switch-default="ng-switch-default"></input>
                    </div>
                </li>
            </ul>
            <div class="chart-resize">
                <div ng-show="model.isValid()" id="chart" chart></div>
            </div>
            <div class="text-muted text-center" ng-show="!model.isValid()">
                <!--<i class="fa fa-hand-o-up breath-right"></i>-->
                <h4><span ng-bind-html="model.instruction()"></span></h4>
            </div>
        </section>
    </div>
</div>
